html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

#camera,
#hud {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
}

#camera {
    object-fit: cover;
    object-position: center center;

    background: black;
}