html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

#camera,
#hud {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
}

#camera {
    object-fit: cover;
    object-position: center center;

    background: black;
}

#errors {
    position: fixed;
    inset: 0;
    z-index: 100;
    width: 100vw;
    max-height: 5em;
    overflow-y: scroll;
    margin: 1em;
    border: 1px #ccc solid;
    background-color: #ffffcc;
    opacity: 90%;
}
